html, body {
    height:100%;
    padding:0;
    margin:0;
    font-family: 'Alegreya', serif;
    font-family: 'B612', sans-serif;
    
    
   }
   .bg-blu{
     background-color: #0A2E52;
   }

   .bg-gren{
     background-color: #51CB20;
   }

   .bg-wite{
     background-color: #F5F3F5;
   }

   .bg-orng{
     background-color: #FF9F1C;
   }
   .blu{
     color: #0A2E52;
   }
   .gren{
     color: #51CB20;
   }
   .wite{
     color: #F5F3F5;
   }
   .orng{
     color: #FF9F1C;
   }
   .crimsonRed{
     color:#990000;
     
   }
   .black{
     color:black;
   }
   .crimsonRedBg{
    background-color:#990000;
  }
  .blackBg{
    background-color:black;
  }

  .footerItem{
    color: #F5F3F5;
  }
  .footerItem:hover{
    color:grey;
  }
  
  .links:hover{
    text-decoration: none;
  }
  .margin1{
    margin:1rem;
  }
.navItem{
    color:#990000;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.8rem;
    }

  .navItem:hover{
    background-color:#990000;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
  }

  .navItemAlt{
    color:white;
    background-color: #990000;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;

  }
  .navItemAlt:hover{
    background-color:black;
    color:#990000;
    text-decoration: none;
  }
  .menuItem{
    color:white;
    text-align:left;
    text-decoration: none;
    margin: 0.5rem;
  }

  .menuItem:hover{
    color:#990000;
    text-decoration: none;

  }

   .zoom {


    transition: transform .2s; /* Animation */
    
    
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: #990000
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('res/download.jpg');
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-image: url('res/51eMbqHl7PL._AC_SY606_.jpg');
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.Mycards{
    display:grid;
    grid-template-columns: 50% 50%  ;
}

.specDiv{color:white;
      background-color:#990000;
    }
  
.specDiv:hover{
    
      color:#990000;
      background-color:black ;

    
}

.scroll {
  opacity: 0.7;
  background-color:#990000;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  
  
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #990000;
  color:#F5F3F5;
  transform: rotateY(180deg);
}
@media only screen and (max-width:775px){
    .Mycards{
        
        grid-template-columns: 50% 50%;
    }
    
        
}
@media only screen and (max-width:575px){
    .Mycards{
        
        grid-template-columns: 100%;
    }
    
        
}